@model ProjectNoVi_V3.Models.Product

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Product</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="Type" class="control-label"></label>
                <select asp-for="Type" class="form-control">
                    <option value="0">Optical glasses</option>
                    <option value="1">Sun glasses</option>
                    <option value="2">Daily Lens</option>
                    <option value="3">Monthy Lens</option>
                </select>
                <span asp-validation-for="Type" class="text-danger"></span>
            </div
            @*<div class="form-group">
                <label asp-for="Type" class="control-label"></label>
                <select asp-for="Type" class="form-control"></select>
                <span asp-validation-for="Type" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <label asp-for="MerkId" class="control-label"></label>
                @*<select multiple="multiple" asp-for="ProductMerk" class="form-control" asp-items="ViewBag.ProductMerk"></select>*@
                <select asp-for="MerkId" class="form-control">
                    <option value="1">Lindberg</option>
                    <option value="2">Gucci</option>
                    <option value="3">Tom Ford</option>
                    <option value="4">Theo</option>
                    <option value="5">Cartier</option>
                    <option value="6">Alcon</option>
                    <option value="7">Coopervision</option>
                </select>
                <span asp-validation-for="MerkId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Collectie" class="control-label"></label>
                <input asp-for="Collectie" class="form-control" />
                <span asp-validation-for="Collectie" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Kleur" class="control-label"></label>
                <input asp-for="Kleur" class="form-control" />
                <span asp-validation-for="Kleur" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Materiaal" class="control-label"></label>
                <input asp-for="Materiaal" class="form-control" />
                <span asp-validation-for="Materiaal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Prijs" class="control-label"></label>
                <input asp-for="Prijs" class="form-control" />
                <span asp-validation-for="Prijs" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
