
@{
    ViewData["Title"] = "Index";
}

<h1>Sales</h1>
<h5>Sales From Past Week</h5>
    <thead>
        <tr>
            <th>.</th>
            <th>.</th>
            <th>.</th>
            <th>.</th>
    </tr>        
    </thead>
<h5>Prior Sales</h5>
    <thead>
        <tr>
            <th>.</th>
            <th>.</th>
            <th>.</th>
            <th>.</th>
    </tr>        
    </thead>

